* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #985F4B;
  --secondary-color: #BA8788;
  --accent-color: #E3D5D1;

  --bs-primary: var(--primary-color);
  --bs-secondary: var(--secondary-color);
  --bs-success: var(--success-color);
  --bs-info: var(--info-color);
  --bs-warning: var(--warning-color);
  --bs-danger: var(--danger-color);
  --bs-light: var(--light-color);
  --bs-dark: var(--dark-color);
}

/* Register Styles */
.register-container {
  background-image: url('./images/Register.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  color: #ffff
}

.register-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #985F4B;
}

.register-text {
  width: 100%;
  max-width: 400px;
  color: #ffff;
}

.register-button {
  width: 100%;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--accent-color);
  margin-top: 20px; 
}

.register-button:hover {
  background-color: #985F4B; 
  border-color: #985F4B;
}

/* Login Styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  color: #ffff;
}

.login-container .signup-link {
  text-decoration: none;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #985F4B;
}

.login-button {
  width: 100%;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--accent-color);
  margin-top: 20px; 
}

.login-button:hover {
  background-color: darken(var(--primary-color), 10%);
}

.login-link {
  text-decoration: none;
}

/* Navbar Styles */
.navbar-container {
  width: 100%;
}

.custom-navbar {
  background-color: var(--accent-color); 
  width: 100%; 
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: white; 
}

/* Banner Styles */
.banner-container {
  position: relative;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 400px; 
}

.banner-content h1,
.banner-content p,
.banner-content a {
  margin: 0;
}

.banner-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.banner-button {
  display: inline-block;
  padding: 10px 30px; 
  background-color: #985F4B;
  color: #fff;
  text-decoration: none;
  border-radius: 25px; 
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.banner-button:hover {
  background-color: #985F4B;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .banner-content {
    width: 90%; 
  }
}

@media screen and (max-width: 576px) {
  .banner-content {
    width: 95%;
  }
}

.account {
  background-color: var(--secondary-color);
  text-align: center;
  color: #ffff;
}

/* AdminView Styles */
.admin-table-container {
  width: 100%;
}

.admin-dashboard {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.admin-table {
  width: 100%;
}


/* Responsive design */
@media screen and (max-width: 576px) {
  .admin-table tbody,
  .admin-table thead {
    display: block;
    width: 100%;
  }

  .admin-table tr {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
  }

  .admin-table th,
  .admin-table td {
    flex-basis: 100%; 
    text-align: center;
  }
}

/* Product Card Styles */
.product-card {
  width: calc(33.33% - 20px);
  margin: 0 10px 20px 10px; 
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

.product-card-image-container {
  width: 100%;
  height: 200px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-image {
  width: auto;
  height: 100%;
  object-fit: contain; 
}

.product-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
}

.product-card-description {
  margin: 0 1rem 1rem 1rem;
}

.product-card-price {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: 0 1rem 1rem 1rem;
}

.product-card-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 1rem 1rem;
}

.product-card-button {
  align-self: flex-end;
}

/* Responsive design */
@media screen and (max-width: 1200px) {
  .product-card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .product-card {
    width: calc(50% - 20px);
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .product-card {
    width: calc(100% - 20px);
    margin-right: 0;
  }
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  flex: 1;
  margin-right: 5px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer Styles */
.footer {
  background-color: var(--accent-color); 
  color: white; 
  padding: 1px 0; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  z-index: 1000; 
}

.account-container {
  min-height: 100vh; 
  position: relative;
}

.productview-container {
  min-height: 100vh; 
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  min-height: 100vh; 
  position: relative; 
}

.addproduct-container {
  min-height: 100vh; 
  position: relative; 
}

.productscatalog-container {
  min-height: 100vh; 
  position: relative; 
}

.orderhistory-container{
  min-height: 100vh; 
  position: relative; 
}

/* Ensure footer is hidden by default */
.footer.hide {
  transform: translateY(100%);
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icon {
  font-size: 24px; 
  margin-right: 20px; 
  color: white; 
}

/* Adjust padding for smaller screens */
@media screen and (max-width: 576px) {
  .footer {
    padding: 5px 0; 
  }
  .social-icons {
    justify-content: center; 
  }
}

/* Order History Styles */
.orderhistory-container {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

